.fira-mono-regular {
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.fira-mono-medium {
  font-family: "Fira Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.fira-mono-bold {
  font-family: "Fira Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.pwd-item{
  padding: 0.2rem;
  display: inline-block;
  transition: background-color 350ms ease;
}

.copied{
  background-color: lightgreen;
  color: black;
  transition: background-color 150ms ease;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.theme-switch {
  display: inline-block;
  height: 21px;
  position: relative;
  width: 40px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: white;
  bottom: 2px;
  content: "";
  height: 16px;
  left: 2px;
  position: absolute;
  transition: 0.4s;
  width: 16px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

input {
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-container div {
  display: flex;
  align-items: center;
}

.input-container label {
  width: 125px;
  margin-right: 10px;
}

.input-container input {
  width: 150;
}

.circle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #2196F3;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.4s;
}

.circle-button:hover {
  background-color: #1976D2;
}

.arrow-icon {
  width: 24px;
  height: 24px;
  color: white;
}

.link-button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
